.root{
-fx-background-image:url('../Image/background.jpeg');
-fx-background-size:cover;
}

.button-color{
-fx-background-color:#c3a0a7;
}

.border-color{
-fx-border-color:#506d7b;
}

.menubar {
    -fx-font-size: 18px;
    -fx-background-image:url('../Image/background.jpeg');
    -fx-font-color:#506d7b;
}


